#tsparticles-background-1{
  position: absolute;
  width: 100%;
  height: 100%;
  /* top: 50%; */
  z-index: -1;
  background-image: linear-gradient(#000000, #000000, #070009,#070009, #070009,#000000, #000000);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
/* #tsparticles-background-2 {
  position: absolute;
  width: 100%;
  height: 20%;
  top: 20%;
}
#tsparticles-background-3 {
  position: absolute;
  width: 100%;
  height: 20%;
  top: 40%;
}
#tsparticles-background-4 {
  position: absolute;
  width: 100%;
  height: 20%;
  top: 60%;
}
#tsparticles-background-5 {
  position: absolute;
  width: 100%;
  height: 20%;
  top: 80%;
} */
